<div class="main-visual">
  campcamp
</div>

<% @gears.each do |gear| %>
<div class="main">
  <div>
    <%= attachment_image_tag gear, :image, :fill, 300, 300, format: 'jpeg' %>
  </div>
  <div>
    <p><%= gear.name %></p>
    <p><%= gear.maker %></p>
    <p><%= gear.introduction %></p>
    <p><%= gear.user.name %></p>
  </div>
</div>
<% end %>
