<h1>ギア紹介</h1>
<% if @gear.errors.any? %>
  <%= @gear.errors.count %>件のエラーが発生しました
  <% @gear.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end %>

<%= form_with model:@gear, local:true do |f| %>
  <h4>名前</h4>
  <%= f.text_field :name %>
  <h4>メーカー</h4>
  <%= f.text_field :maker %>
  <h4>画像</h4>
  <%= f.file_field :images, multiple: true %>
  <h4>紹介</h4>
  <%= f.text_area :introduction %>
  <h4>ジャンル</h4>
  <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank:"--選択してください--" %>
  
  <%= f.submit '投稿' %>
<% end %>
